*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(245,248,250);
	font-family:"Lato", serif ;
}

.header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem;
	padding: 1rem;
	border-bottom:2px solid rgba(224,230,234) ;
}

.button-container button{
	margin-right: 40px;
	color: rgb(29,44,60);
	border: none;
	background-color: rgb(245,248,250);
	padding: 0.4rem 0.8rem;
	cursor: pointer;
}

.button-container .account-button, .button-container .home-button{
	border:1px solid rgb(29,44,60) ;
	border-radius: 0.3rem;
}

.main-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-container{
	background-color: rgb(255,255,255);
	box-shadow: 0px 15px 35px rgba(43, 64, 78, 0.1);
	padding: 3rem 2rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.information-container{
	background-color: rgb(17,121,191);
	color: rgb(255,255,255);
	padding: 5rem 5rem 8rem 5rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.checkout{
	font-family: lato;
	font-size: 30px;
	color: rgb(29,44,60);
	padding-bottom: 4rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.basic-information{
	display: inline-flex;
	align-items: center;
}

.personal-information{
	display: inline-flex;
	align-items: center;
	margin-top: 1.5rem;
}

.payment-input-container {
	display: flex;
	margin-top: 1rem;
}

.payment-input-container input{
	margin-right: 0;
	border-radius: 0;
	width: 245px;
}

.bullet-point{
	background-color: rgb(255,255,255);
	color: rgb(84,139,197);
	border: 2px solid rgb(84,139,197);
	border-radius: 15px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}

.bullet-description{
	font-size: 1.2rem;
}

input{
	display: block;
	background-color: rgb(237,239,242);
	border: none;
	width: 226px;
	margin-top: 1rem;
	margin-right: 1.2rem;
	padding: 0.7rem 0.5rem;
	border-radius: 4px;
}

.email-input{
	width: 370px;
}

.input-container{
	display: flex;
	margin-top: 1rem;
}

.buy{
	background-color: rgb(3,142,125);
	color: rgb(255,255,255);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	border-radius: 5px;
	margin-top: 5rem;
}

.help{
	display: inline-flex;
	margin-top: 2rem;
	padding: 3rem 7rem;
}

.help .bullet-description{
	font-size: 1rem;
}

.help .bullet-point{
	margin-right: 0;
	border-radius: 10px;
	width: 20px;
	height: 20px;
}

.text{
	color: rgb(100,110,122);
}

.footer-icon{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer{
	background-color: rgb(218,218,218);
	color: rgb(255,255,255);
	padding: 0.5rem;
	border-radius: 10px;
}

.footer-icon span{
	font-size: 1.5rem;
	font-weight: 700;
}

.freelancer{
	font-size: 24px;
}

.rate{
	font-size: 60px;
	font-weight: 300;
}
sub sup{
	font-size: 30px;
}

.information-container p, hr, .review{
	margin-bottom: 2.4rem;
	width: 226px;
}

.check-boxes{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.check-boxes .bullet-point{
	background-color: rgb(17,121,191);
	color: rgb(245,248,250);
	border: 2px solid rgb(255,255,255);
	border-radius: 15px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}

.check-boxes .bullet-description{
	font-size: 1rem;
}

.image-container{
	display: flex;
	align-items: center;
	gap: 20px;
}

.profile-picture{
	height: 40px;
	width: 40px;
	border-radius: 20px;
}

.footer-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4rem;
}

.footer-container p{
	color: rgb(100,110,122);
}

.footer-container span{
	color: rgb(84,139,197);
}

@media (max-width: 987px){
	.button-container button{
		margin: 0;
		font-size: 0.8rem;
		padding: 0.3rem;
	}
	.header-container{
		padding: 0;
	}
	.main-container{
		flex-direction: column;
	}
}
